<div class="auth-container">
    <div class="owner-container">
  <div class="owner-box">
    <h2>Đăng Ký Đối Tác Chủ Sân</h2>
    <p>Nhập thông tin doanh nghiệp hoặc cá nhân để bắt đầu kinh doanh.</p>

    <form (ngSubmit)="onSubmit()" #f="ngForm">
      <div class="form-group">
        <label>Tên Doanh Nghiệp / Tên Sân *</label>
        <input type="text" [(ngModel)]="model.businessName" name="businessName" required class="form-input" placeholder="Ví dụ: Sân bóng Thiên Trường">
      </div>

      <div class="form-group">
        <label>Số điện thoại liên hệ *</label>
        <input type="tel" [(ngModel)]="model.phone" name="phone" required class="form-input" placeholder="0912xxx...">
      </div>

      <div class="form-group">
        <label>Số CCCD / CMND *</label>
        <input type="text" [(ngModel)]="model.identityNumber" name="identityNumber" required class="form-input" placeholder="Nhập số định danh">
      </div>

      <div class="form-group">
        <label>Mã số thuế (Nếu có)</label>
        <input type="text" [(ngModel)]="model.taxCode" name="taxCode" class="form-input" placeholder="Nhập mã số thuế">
      </div>

      <div class="actions">
        <button type="button" class="btn-cancel" routerLink="/">Hủy</button>
        <button type="submit" class="btn-submit" [disabled]="f.invalid || isLoading">
          {{ isLoading ? 'Đang xử lý...' : 'Gửi Hồ Sơ' }}
        </button>
      </div>
    </form>
  </div>
</div>
</div>