<div class="map-container" *ngIf="isBrowser">
  <div class="floating-filters">
    <div class="filter-scroll">
      <div class="filter-chip" 
           *ngFor="let sport of sportFilters" 
           [class.active]="sport.active"
           (click)="filterSport(sport.id)">
        <i class="fas" [ngClass]="sport.icon"></i> {{ sport.name }}
      </div>
    </div>
  </div>

  <button class="btn-gps" (click)="getCurrentLocation()" title="Vị trí của tôi">
    <i class="fas fa-crosshairs"></i>
  </button>

  <div id="map" style="height: 100%; width: 100%;"></div>
</div>

<div *ngIf="!isBrowser" class="map-placeholder">
  <p>Đang tải bản đồ...</p>
</div>